*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    min-height: 100vh;
    background: url('images/background.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 70px;
}

header, footer{
    width: 100%;
    background: #eeecec;
    height: 70px;
}

header{
    display: flex;
    position: fixed;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main{
    padding-top: 70px;
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    /* padding: 20px 0; */
}

.main-header__inner{
    width: 80%;
    align-items: center;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.main-header__logo{

    height: 100%;
    display: table;
}

.main-header__logo h1{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
}

.main-header__menu a{
    height: 100%;
}

.card{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
}


.main-footer{
    width: 100%;
    height: 70px;
    display: block;
}

.nav{
    width: 100%;
    display: flex;
    padding: 10px 0;
}

.btn__cart{
    border: none;
    background: none;
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-items: center;
    color: black;
    gap: 5px;
}

.btn__cart img{
    width: 30px;
    height: 30px;
}

.btn__github{
    border: none;
    background: none;
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-items: center;
    color: black;
    gap: 5px;
}

.btn__github img{
    width: 40px;
    height: 40px;
}

.product{
    width: 30%;
    border: 1px solid #8e4ba1;
    padding: 10px 12px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.product img{
    width: 100%;
    border-radius: 20px;
}

.products__container{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    flex-wrap: wrap;
    gap: 20px;
}
